@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'HYWenHei 85W';
    src: local('HYWenHei 85W'), url('../../public/genshin_font/zhcn.woff') format('woff');
}

* {
    font-family: 'HYWenHei 85W', sans-serif;
    color: #3d3d3d;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
    color: #373737;
}
.font-white {
    color: #ebebeb;
}
.bg-accent {
    background-color: rgba(240,241,242,1);
}
.header{
    margin-top: 20px;
}
.chapter-card:hover{
    transition: transform 0.2s;
    background-color: rgb(199, 199, 199);;
}
.nothing-to-show{
    height: 60vh;
}
/* .main-content {
    margin-bottom: 5vh;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    position: relative;
}
.cover-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    opacity: 0.3;

}
.content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.novel-image {
    width: 30%;
    height: auto;
    margin-left: 3vw;
    object-fit: cover;
}
.next-previous {
    margin-right: 4vw;
} */