.popular-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.popular-container {
    width: 100%;
    height: fit-content;
    /* padding-bottom: 1rem; */
}

.popular-content {
    position: relative;
    overflow: hidden;
    height: fit-content;
    max-width: 100%;
}

.carousel-container {
    display: flex;
    width: 100%;
    transform: translateX(-100%);
    will-change: transform; /* Tối ưu performance cho animation */
    backface-visibility: hidden; /* Giảm thiểu flickering */
    -webkit-backface-visibility: hidden;
}

.popular-novel {
    min-width: 100%;
    flex-shrink: 0;
    height: 40vh;
    display: flex;
    margin-bottom: 1rem;
    user-select: none; /* Ngăn chặn việc select text trong quá trình transition */
}

.popular-novel-image {
    max-width: 15vw;
    height: 100%;
    padding-right: 1rem;
    overflow: hidden;
}

.popular-novel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-novel-info {
    width: 65vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular-novel-info h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.popular-novel-info .description {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    font-family: 'Roboto', sans-serif;
}

.sub-info-container {
    justify-content: space-between;
    /* width: 100%; */
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    gap: 0.5rem; /* Thêm khoảng cách giữa các tags */
}

.tag-item {
    cursor: pointer;
    color: #212020;
    margin: auto 0;
    padding: 0.2rem 0.5rem;
    border-radius: 12px;
    font-size: 0.6rem;
    transition: background-color 0.3s ease; /* Smooth transition cho hover effect */
}

.tag-item:hover {
    background-color: #cdc8c8;
}

.control-container{
    position: absolute;
    align-items: center;
    margin-left: auto;
    bottom: 0.45rem; /* Điều chỉnh để phù hợp với vị trí của tag-list */
    right: 2rem;
    z-index: 10;
    /* display: flex; */
    align-items: center;
}
.carousel-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    transition: background-color 0.3s ease;
    border-radius: 50%;;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}